
.jider{
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between; 

}
.encabezado{
    display: flex;
    justify-content: space-between;
}







.organizacion{
    display: flex;
    justify-content: space-between;
}


.button{
    display: flex ;
    width: 10px;
    height: 0.01px;
    background-color: crimson;
    border-radius: 100px;
    padding: 20px 60px;
    color: #fff;
    text-decoration: none;
    align-items: stretch;
    
    font-size: 1.0em;
    margin: 0 15px;
}
.buttongris{
    display: flex ;
    width: 10px;
    height: 0.01px;
    background-color: rgb(218, 218, 218);
    border-radius: 100px;
    padding: 20px 60px;
    color: #fff;
    text-decoration: none;
    align-items: stretch;
    font-size: 1.0em;
    margin: 0 15px;
}

      
main{
    display: grid;
    width: 100%;
    animation-fill-mode: backwards;
    margin-top: 250px;
    
    
}
 
